<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/alumni_web_icon.webp">
    <title>About us</title>
    <link rel="stylesheet" href="/static/css/about_us.css">
    <script src="/static/js/about_us.js"></script>
</head>
<body>

    
    <header class="header">
        <div class="logo">SGDTP Alumni Portal</div>
        <nav class="nav">
           <a href="/templates/login_page.html" class="login-link" target="_blank">Login</a>
           <a href="/templates/registration_page.html" class="register-link" target="_blank">Register</a>
        </nav>
    </header>

<main class="container">
        <section class="about-us">
            <div class="content">
                <h1>About us</h1>
                <p>The Online Alumni Portal connects alumni with their college and friends.</p>
                <p>It keeps everyone informed, engaged, and connected.</p>
                <p>Alumni can share memories, achievements, and support students.</p>
                <p>We aim to build a strong, inspiring community.</p>
                <p>Together, we celebrate the spirit of our college.</p>
            </div>
            <div class="illustration-container">
                <img src="/static/images/about_us.jpg" alt="Illustration of a team meeting" class="illustration">
            </div>
        </section>

        <h2 class="team-heading">Team</h2>
        <hr class="team-divider">

        <section class="team-members">
            <div class="member-card">
                <div class="icon-placeholder"><i class="fas fa-user-circle">👤</i></div>
                <div class="name">Sarthak Bhoir</div>
            </div>

            <div class="member-card">
                <div class="icon-placeholder"><i class="fas fa-user-circle">👤</i></div>
                <div class="name">Shravan Pandirkar</div>
                
            </div>

            <div class="member-card">
                <div class="icon-placeholder"><i class="fas fa-user-circle">👤</i></div>
                <div class="name">Raj Patil</div>
            </div>
        </section>
    </main>

</body>
</html>