<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/images/alumni_web_icon.webp">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/Dashboard.css">
</head>
<div id="deleteModal" class="modal hidden">
  <div class="modal-content">
    <h3>Delete Event</h3>
    <p>Are you sure you want to delete this event?</p>

    <div class="modal-actions">
      <button id="confirmDeleteBtn" class="danger">Delete</button>
      <button id="cancelDeleteBtn">Cancel</button>
    </div>
  </div>
</div>

<body>

<header class="header">
        <div class="logo">SGDTP Alumni Portal</div>
        <nav class="nav">
           <a href="/templates/MyProfile.html" class="register-link">👤 My Profile</a>
           <button onclick="showSection('alumni')">🔎 Search Alumni</button>
               <button onclick="showSection('events')">🥳 Events</button>
               <a href="/templates/Chat.html" class="register-link">✉️ Send Message</a>
        </nav>
    </header>

        <!-- Popup Message -->
<div id="popup" class="popup hidden">
  <span id="popupMessage"></span>
</div>

<div class="dashboard">

 
</div>

    <div class="content" id="content">

    <!-- SEARCH -->
    <section id="searchView" class="view">
        <div class="search-header">
            <h1 class="searchtext">Search Alumni or Students</h1>
            <input type="text" id="alumniSearch" placeholder="Search by name, year, or company...">
        </div>
                  <!-- Loading Bar -->
<div id="loadingBarContainer" class="loading-container hidden">
  <div id="loadingBar" class="loading-bar"></div>
</div>
        <div class="alumni-grid" id="alumniGrid">

    <!-- Alumni cards will load here dynamically -->
    </div>
    

    </section>

    <!-- EVENTS -->
<!-- EVENTS -->
<section id="eventsView" class="view" style="display:none">

  <h1 class="eventstext">Upcoming Events 🎉</h1>

  <!-- Toggle Button -->
  <button id="toggleCreateEvent" class="create-event-btn">
    ➕ Create Event
  </button>

  <div id="createEventBox" class="create-event-box hidden">
  <input type="text" id="eventName" placeholder="Event Name">
  <input type="date" id="eventDate">

 <!-- Invite Alumni -->
<div class="invite-alumni-row">
  <input type="checkbox" id="inviteAlumni">
  <label for="inviteAlumni">Invite Alumni</label>
</div>


  <!-- NEW -->
 <div id="alumniListBox" class="hidden">
  <h4>Select Alumni</h4>
  <div id="alumniList"></div>
</div>



  <div class="event-actions">
    <button id="createEventBtn">Create</button>
    <button id="cancelEventBtn" class="cancel">Cancel</button>
  </div>
</div>


  <div id="eventsList"></div>

</section>




</div>

</div>

<script type="module" src="/static/js/Dashboard.js"></script>

</body>
</html>