<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/alumni_web_icon.webp">
    <title>SGDTP Alumni Portal</title>
    <link rel="stylesheet" href="/static/css/FrontPage.css">
</head>
<body>

    <header class="header">
        <div class="logo">SGDTP Alumni Portal</div>
        <nav class="nav">
            <a href="{{ url_for('showevent') }}"  target="_blank" class="login-link" >See Events</a>
           <a href="{{ url_for('login') }}"  target="_blank" class="login-link" >Login</a>
           <a href="{{ url_for('register') }}"  target="_blank" class="register-link" >Register</a>
        </nav>
    </header>

    <main class="hero-section">
        <div class="content-left">
            <h1 class="welcome-heading">Welcome SGDTP Alumni Portal</h1>
            <p class="description">
                your gateway to reconnect with your SGDTP, network with fellow alumni, 
                and stay updated with campus news and events
            </p>
         <a href="{{ url_for('about') }}" class="about-button">About us</a>
        </div>
        <div class="content-right">
    <div class="illustration-placeholder">
        <img src="/static/images/alumni_Front_page.jpg" alt="Illustration of graduates celebrating" class="alumni-img"> 
    </div>
</div>
    </main>

    <script src="/static/js/FrontPage.js"></script>
</body>
</html>